@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: auto;
}
.header {
  width: 100%;
  height: 3.8rem;
  background: #f8f8f8;
  line-height: 3.8rem;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  flex-direction: row;
  /*设置主轴方向为水平方向*/
}
.header .header_l {
  padding-left: 1rem;
  float: left;
}
.header .header_c {
  text-align: center;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 1.6rem;
  color: #000000;
}
.header .header_r {
  float: right;
  padding-right: 1.6rem;
  box-sizing: border-box;
}
.you {
  border-left: 1px solid blue;
  background: yellow;
}
.you p:first-child {
  border: none;
  width: 100%;
  height: 3rem;
  background: #ff0000;
}
