html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background: url("../images/juxingk.png") no-repeat;
}
.header {
  height: 168px;
  background: #76a4d5;
}
.header .head {
  height: 40px;
  position: relative;
}
.header .head .head_l {
  position: absolute;
  color: #ffffff;
  left: 0;
  top: 2px;
}
.header .head .head_l .dian {
  margin-left: 18px;
  margin-top: 3px;
  width: 3px;
  height: 3px;
  background: url("../images/baidian.png") no-repeat;
  position: absolute;
  top: 22px;
}
.header .head .head_l .dian2 {
  margin-left: 18px;
  margin-top: 3px;
  width: 3px;
  height: 3px;
  background: url("../images/baidian.png") no-repeat;
  position: absolute;
  top: 10px;
}
.header .head .head_l .dian3 {
  margin-left: 18px;
  margin-top: 3px;
  width: 3px;
  height: 3px;
  background: url("../images/baidian.png") no-repeat;
  position: absolute;
  top: 16px;
}
.header .head .head_l .tou {
  position: absolute;
  left: 28px;
  top: 0;
  width: 34px;
  height: 34px;
  background: url("../images/tu.png") no-repeat #76a4d5;
}
.header .head .head_c {
  padding-top: 4px;
  height: 32px;
  margin-left: 76px;
  margin-right: 54px;
}
.header .head .head_c input {
  width: 100%;
  border: none;
  outline: none;
  height: 30px;
  color: #ffffff;
  background: #6a93bf;
  padding-left: 33px;
  box-sizing: border-box;
}
.header .head .head_c input::-webkit-input-placeholder {
  color: #fefefe;
}
.header .head .head_c .sou {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 82px;
  top: 8px;
  background: url("../images/sousuo.png") no-repeat;
}
.header .head .head_r {
  position: absolute;
  right: 16px;
  top: 10px;
  background: url("../images/saoyisao.png") no-repeat;
  width: 28px;
  height: 28px;
}
.header .parrot {
  height: 128px;
  color: #f0f2f5;
}
.header .parrot .shui {
  margin-left: 40px;
}
.header .parrot .shui .yitian {
  font-size: 12px;
  top: 60px;
  position: absolute;
  border: 1px solid #f0f2f5;
  padding: 1px 4px;
}
.header .parrot .shui .yitian span {
  font-size: 14px;
}
.header .parrot .shui .shanguw {
  top: 88px;
  position: absolute;
  font-size: 16px;
}
.header .parrot .shui .shanguw span {
  font-size: 20px;
  font-weight: bold;
}
.header .parrot .shui .wo {
  top: 128px;
  position: absolute;
  line-height: 28px;
  font-size: 12px;
  background: #0d63d0;
  width: 100px;
  height: 22px;
}
.header .parrot .shui .wo img {
  margin-left: 14px;
}
.header .parrot .shui .wo span {
  position: absolute;
  right: 20px;
  top: -3px;
  text-align: center;
}
.header .parrot .bird {
  width: 140px;
  height: 114px;
  background: url("../images/niao.png") no-repeat;
  position: absolute;
  right: 12px;
}
.header .parrot .lubodian {
  width: 74px;
  height: 4px;
  background: url("../images/lunbodianm.png") no-repeat;
  position: absolute;
  left: 45%;
  top: 156px;
}
.main {
  width: 100%;
  background: #eeeeee;
}
.main .main_1 {
  width: 100%;
  height: 190px;
}
.main .main_1 .one_ul {
  width: 100%;
  height: 95px;
  background: #ffffff;
}
.main .main_1 .one_ul li {
  width: 25%;
  float: left;
  list-style: none;
  height: 54px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  color: #5c5c5c;
  margin-top: 10px;
}
.main .main_1 .one_ul li em {
  width: 54px;
  text-align: center;
  height: 54px;
  margin: 0   auto;
  display: block;
  overflow: hidden;
  background: url("../images/yingke.png") no-repeat;
  margin-bottom: 10px;
}
.main .main_1 .one_ul li .span1 {
  background-position: 0 0;
}
.main .main_1 .one_ul li .span2 {
  background-position: -93px 0;
}
.main .main_1 .one_ul li .span3 {
  background-position: -190px 0;
}
.main .main_1 .one_ul li .span4 {
  background-position: -287px 0;
}
.main .main_1 .two_ul {
  width: 100%;
  height: 95px;
  background: #ffffff;
}
.main .main_1 .two_ul li {
  width: 25%;
  float: left;
  list-style: none;
  height: 54px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  color: #5c5c5c;
  margin-top: 10px;
}
.main .main_1 .two_ul li em {
  width: 54px;
  text-align: center;
  height: 54px;
  margin: 0   auto;
  display: block;
  overflow: hidden;
  background: url("../images/xike.png") no-repeat;
  margin-bottom: 10px;
}
.main .main_1 .two_ul li .span1 {
  background-position: 0 0;
}
.main .main_1 .two_ul li .span2 {
  background-position: -93px 0;
}
.main .main_1 .two_ul li .span3 {
  background-position: -190px 0;
}
.main .main_1 .two_ul li .span4 {
  background-position: -287px 0;
}
.main .main_2 {
  margin-top: 10px;
  background: #ffffff;
}
.main .main_2 .m2_english {
  height: 40px;
  line-height: 40px;
}
.main .main_2 .m2_english span {
  font-weight: bold;
  color: #000002;
  font-size: 18px;
  float: left;
  margin-left: 10px;
}
.main .main_2 .m2_english a {
  font-size: 10px;
  float: right;
  margin-right: 18px;
  color: #989898;
}
.main .main_2 .three_ul {
  width: 100%;
  height: 95px;
}
.main .main_2 .three_ul li {
  width: 25%;
  float: left;
  list-style: none;
  height: 54px;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  color: #5c5c5c;
  margin-top: 10px;
}
.main .main_2 .three_ul li em {
  width: 54px;
  text-align: center;
  height: 54px;
  margin: 0   auto;
  display: block;
  overflow: hidden;
  background: url("../images/tingke.png") no-repeat;
  margin-bottom: 10px;
}
.main .main_2 .three_ul li .span1 {
  background-position: 0 0;
}
.main .main_2 .three_ul li .span2 {
  background-position: -93px 0;
}
.main .main_2 .three_ul li .span3 {
  background-position: -190px 0;
}
.main .main_2 .three_ul li .span4 {
  background-position: -287px 0;
}
.main .main_2 .fa_ul {
  width: 100%;
  height: 92px;
}
.main .main_2 .fa_ul li {
  width: 33.33333%;
  float: left;
  list-style: none;
  height: 92px;
  text-align: center;
}
.main .main_2 .fa_ul li em {
  width: 100px;
  text-align: center;
  height: 92px;
  margin: 0   auto;
  display: block;
  overflow: hidden;
  background: url("../images/fake.png") no-repeat;
}
.main .main_2 .fa_ul li .span1 {
  background-position: 0 0;
}
.main .main_2 .fa_ul li .span2 {
  background-position: -106px 0;
}
.main .main_2 .fa_ul li .span3 {
  background-position: -250px 0;
}
.cheng {
  width: 100%;
  height: 52px;
}
.footer {
  background: #f8f8f8;
  width: 100%;
  height: 49px;
  border-top: 1px solid #b2b2b2;
  position: fixed;
  bottom: 0;
}
.footer a {
  outline: none;
  margin-top: 5px;
  float: left;
  width: 33.3333333%;
  text-align: center;
  text-decoration: none;
}
.footer a span {
  display: block;
  font-size: 10px;
  color: #717171;
  font-weight: bold;
}
.footer a em {
  position: relative;
  left: 0;
  top: 20px;
  z-index: 99999;
}
